html {
  font-family: "Secular One", sans-serif;
}

body {
  margin: 0;
}

.card {
  transition: all 0.2s ease;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.card-title {
  -webkit-text-stroke: 1.5px black;
}

.card-title,
.modal-title {
  font-family: "Formula1-Bold";
  text-transform: uppercase;
}

.card-subtitle,
.modal-subtitle {
  font-family: "Formula1-Regular";
  font-size: 2.5rem;
}

.card:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.02);
}

.card:hover .card-img {
  transition: all 0.2s ease;
  opacity: 85%;
}

.card:hover .card-title {
  transition: all 0.2s ease;
  font-size: 3rem;
}

.card-content {
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.bg-secondary {
  color: rgba(33, 37, 41, 1) !important;
}
