html {
  font-family: "Secular One", sans-serif;
}

body {
  margin: 0;
}

.card {
  transition: all 0.2s ease;
  cursor: pointer;
}

.card-img {
  opacity: 85%;
}

.card-title {
  font-family: "Formula1-Bold";
  font-size: 2.5rem;
}

.card:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.02);
}

.card:hover .card-title {
  transition: all 0.1s ease;
  font-size: 3rem;
}
